<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bbgkh.dao.IMemberDao" >

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.bbgkh.model.PO.MemberInfoPO" >
        INSERT INTO members (memberName,mobilePhone,cardId)
        VALUES (#{memberName}, #{mobilePhone},#{cardId})
    </insert>

    <select id="selectAll" resultType="com.bbgkh.model.PO.SaleInfoPO">
        SELECT * from sale where TO_DAYS(saleTime) = TO_DAYS(NOW()) and uid=#{uid};
    </select>

    <select id="selectById" parameterType="String" resultType="com.bbgkh.model.PO.SaleInfoPO">
        SELECT * from members where TO_DAYS(saleTime) = TO_DAYS(NOW()) and uid=#{uid};
    </select>

    <insert id="addToMemberSale">
        INSERT INTO member_sale (memId , saleId)
        VALUES (#{memId},#{saleId})
    </insert>


    <select id="selectByMobileOrCard" parameterType="com.bbgkh.model.PO.MemberInfoPO" resultType="com.bbgkh.model.PO.MemberInfoPO">
        SELECT id FROM members WHERE 1=1
        <if test="mobilePhone != null and mobilePhone!= '' ">
        AND mobilePhone = #{mobilePhone}
        </if>
        <if test="cardId != null and cardId!= '' ">
        AND cardId = #{cardId}
        </if>
        <if test="memberName != null and memberName!= '' ">
        AND memberName = #{memberName}
        </if>
    </select>

</mapper>
