<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bbgkh.dao.IReportDao" >

    <select id="selectAll" resultType="com.bbgkh.model.PO.SaleInfoPO">
        SELECT * from sale where TO_DAYS(saleTime) = TO_DAYS(NOW());
    </select>

    <select id="selectById" parameterType="String" resultType="com.bbgkh.model.PO.SaleInfoPO">
        SELECT * from sale where TO_DAYS(saleTime) = TO_DAYS(NOW()) and uid=#{uid};
    </select>
    <select id="selectByDay" resultType="com.bbgkh.model.PO.SaleInfoPO">
        SELECT id,productSysNo,color,saleNum,salePrice,sex,size,UNIX_TIMESTAMP(saleTime)as saleTime from sale where date(saleTime) = FROM_UNIXTIME(#{timeStamp},'%Y-%m-%d')and 1=1;
    </select>

    <insert id="insert" parameterType="com.bbgkh.model.PO.SaleInfoPO" >
    </insert>

</mapper>
