<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bbgkh.dao.IUserDao" >

    <sql id="Base_Column_List" >
        uid, name, password
    </sql>

    <select id="findUserByUsername" parameterType="String" resultMap="BaseResultMap">
        select uid, name, password
        from customer where name=#{userName}
    </select>

    <select id="findRoles" parameterType="String" resultType="String">
        SELECT role_name from sec_user_role left join sec_role using(role_id) left join customer using(uid) WHERE name = #{userName}
    </select>

    <select id="findPermissions" parameterType="String" resultType="String">
        SELECT permission_name FROM sec_role_permission
        left join sec_role using(role_id)
        left join sec_permission using(permission_id) WHERE role_name = ?
    </select>



    <select id="selectAll" resultType="com.bbgkh.model.PO.CustomerPO">
        select  *  from sale
    </select>

    <select id="selectById" parameterType="String" resultType="com.bbgkh.model.PO.CustomerPO">
        select * from customer where uid = #{uid}
    </select>
    <select id="validateUser" resultType="com.bbgkh.model.PO.CustomerPO">
        select * from customer where uid = #{uid}
        <if test="password != null and password!= '' ">
            AND password = #{password}
        </if>
    </select>

    <insert id="insert" parameterType="com.bbgkh.model.PO.CustomerPO" >
        INSERT INTO customer (uid,name,password,mobilePhone,email)
        VALUES ( #{uid},#{name},#{password},#{mobilePhone},#{email})
    </insert>

</mapper>
